@import "./phoenix.css";

body {
  background-color: #FFFFFF;
}

.container {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 384px;

  text-align: center;
}

.logo {
  font-family: Blinker, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 24px;

  color: #14203D;
}

.form-box {
  width: 100%;
  margin-top: 35px;
  padding-bottom: 45px;

  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-header {
  margin-top: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 32px;
}

.form {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 256px;

  margin-top: 20px;
}

.red-btn {
  width: 100%;
  background: #D1410C;
  border-width: 0px;
  border-radius: 2px;
}

.form-control.select-input {
  width: 100%;
}

.extra-link {
  text-align: left;
}